.block-header-menu {
  height: 88px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #d9fff5;
}
.block-header-menu__elem-dash {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  align-self: center;
  border-radius: 1px;
  background: #eaeaea;
}
.block-header-menu--mod-model {
  padding: 0 16px;
  margin-bottom: 24px;
}

.block-headmain {
  display: flex;
}
.block-headmain__elem-title {
  margin-left: 12px;
  color: #1b1c21;
  font-family: TT Lakes Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: -0.6px;
}
.block-headmain__elem-nav-icon {
  display: none;
  margin-right: 32px;
}
.block-headmain__elem-nav-icon:last-child {
  margin-right: 0;
}
.block-headmain__elem-nav-icon > span {
  padding-right: 8px;
  color: #1b1c21;
  text-align: right;
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.block-headmain--mod-model {
  margin-bottom: 24px;
}

.block-slidemain__elem-shade {
  width: 24px;
  height: 40px;
  left: auto;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  position: absolute;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
}
.block-slidemain--mod-model {
  position: relative;
  margin-left: 16px;
  margin-bottom: 24px;
}
.block-slidemain .block-slidemain-row {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
}
.block-slidemain .block-slidemain-row__elem-item {
  flex-shrink: 0;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.block-slidemain .block-slidemain-row__elem-item--mod-active {
  padding: 8px;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #fff;
}
.block-slidemain .block-content {
  display: flex;
}
.block-slidemain .block-content__elem-photo {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 6px;
}
.block-slidemain .block-content-info__elem-text {
  margin-bottom: 16px;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: 0.2px;
}
.block-slidemain .block-content-info__elem-next-container {
  margin-bottom: 16px;
  display: flex;
  color: #1b1c21;
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.block-slidemain .block-content-info__elem-read-next {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .block-header-menu__elem-dash:nth-child(7) {
    margin-right: auto;
  }
  .block-header-menu__elem-nav-icon, .block-header-menu__elem-logo {
    margin-right: 16px;
  }
  .block-header-menu__elem-nav-icon:last-child {
    margin-right: 0;
  }
  .block-header-menu__elem-nav-icon:nth-child(n+3):nth-child(-n+6) {
    display: none;
  }
  .block-header-menu__elem-dash:nth-child(2) {
    display: none;
  }
  .block-content {
    display: flex;
    flex-direction: column;
  }
  .block-content__elem-text-break {
    display: none;
  }
  .block-content__elem-photo {
    flex-shrink: 0;
    border-radius: 0;
  }
  .block-content--mod-model {
    margin-bottom: 35px;
  }
  .block-content-info__elem-paragraph-2 {
    display: none;
  }
  .block-content-info__elem-next-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .block-content-info--mod-model {
    margin: 0 16px;
    margin-bottom: 15px;
  }
}
/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  .block-header-menu__elem-log-box {
    margin-right: auto;
  }
  .block-header-menu__elem-nav-icon, .block-header-menu__elem-dash {
    margin-right: 16px;
  }
  .block-header-menu__elem-nav-icon:last-child {
    margin-right: 0;
  }
  .block-headmain__elem-title {
    margin-left: 24px;
  }
  .block-headmain--mod-model {
    margin-bottom: 32px;
  }
  .block-slidemain--box-model {
    margin-left: 24px;
    margin-bottom: 32px;
  }
  .block-content {
    display: flex;
    gap: 48px;
  }
  .block-content__elem-photo {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
  }
  .block-content--mod-model {
    margin: 0 24px;
    margin-bottom: 40px;
  }
  .block-content-info__elem-paragraph-3 {
    display: none;
  }
  .block-content-info__elem-next-container {
    margin-top: 10px;
  }
}
/* ---- DESKTOP ---- */
@media screen and (min-width: 1023.9px) {
  .block-header-menu {
    display: none;
  }
  .block-headmain__elem-title {
    margin-left: 30px;
    margin-right: auto;
  }
  .block-headmain__elem-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b1c21;
    text-align: right;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  .block-headmain--mod-model {
    margin: 42px 16px 8px 0;
  }
  .block-slidemain__elem-shade {
    display: none;
  }
  .block-slidemain--mod-model {
    margin-left: 32px;
    margin-bottom: 20px;
  }
  .block-slidemain-row {
    flex-flow: row wrap;
    overflow: visible;
  }
  .block-content {
    display: flex;
    gap: 36px;
  }
  .block-content__elem-photo {
    width: 531.346px;
    height: 307px;
    flex-shrink: 0;
  }
  .block-content--mod-model {
    margin: 0 28px 48px 32px;
  }
  .block-content-info__elem-next-container {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */