// @import url(/css/style.css);
@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/fonts/TTLakes-Bold.woff") format("woff");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: "TT Lakes";
}

button,
a {
  all: initial;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  height: 3px;
}


.block-header-menu {
  height: 88px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #d9fff5;
  &__elem-dash {
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    align-self: center;
    border-radius: 1px;
    background: #eaeaea;
  }
  &--mod-model {
    padding: 0 16px;
    margin-bottom: 24px;
  }

}

.block-headmain {
  display: flex;

  &__elem-title {
    margin-left: 12px;
    color: #1b1c21;
    font-family: TT Lakes Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    letter-spacing: -0.6px;
  }
  &__elem-nav-icon {
    display: none;
    margin-right: 32px;
  }
  &__elem-nav-icon:last-child {
    margin-right: 0;
  }
  &__elem-nav-icon > span {
    padding-right: 8px;
    color: #1b1c21;
    text-align: right;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  &--mod-model {
    margin-bottom: 24px;
  }
}


.block-slidemain {
  &__elem-shade {
    width: 24px;
    height: 40px;
    left: auto;
    right: 0;
    bottom: 0;
    flex-shrink: 0;
    position: absolute;
    // prettier-ignore
    background: linear-gradient(270deg,#f8f8f8 16.84%,rgba(248, 248, 248, 0) 100%);
  }
  &--mod-model {
    position: relative;
    margin-left: 16px;
    margin-bottom: 24px;
  }


  .block-slidemain-row {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: auto;
  
    &__elem-item {
      flex-shrink: 0;
      color: #7e7e82;
      font-family: "TT Lakes";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.2px;
  
      &--mod-active {
        padding: 8px;
        border: 2px solid #b8ffec;
        border-radius: 6px;
        background: #fff;
      }
    }
  }

  .block-content {
    display: flex;
  
    &__elem-photo {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      border-radius: 6px;
    }
  }


  .block-content-info {
    &__elem-text {
      margin-bottom: 16px;
  
      color: #1b1c21;
      font-family: "TT Lakes";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 128.571%;
      letter-spacing: 0.2px;
    }
    &__elem-next-container {
      margin-bottom: 16px;
      display: flex;
  
      color: #1b1c21;
      font-family: "TT Lakes Medium";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.2px;
    }
    &__elem-read-next {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

}
  
  /* ---- MOBILE ---- */
  @media screen and (max-width: 767.9px) {
    .block-header-menu {
      &__elem-dash:nth-child(7) {
        margin-right: auto;
      }
      &__elem-nav-icon,
      &__elem-logo {
        margin-right: 16px;
      }
      &__elem-nav-icon:last-child {
        margin-right: 0;
      }
  
      &__elem-nav-icon:nth-child(n + 3):nth-child(-n + 6) {
        display: none;
      }
      &__elem-dash:nth-child(2) {
        display: none;
      }
    }

    .block-content {
      display: flex;
      flex-direction: column;
      
      &__elem-text-break {
        display: none;
      }
      &__elem-photo {
        flex-shrink: 0;
        border-radius: 0;
      }
  
      &--mod-model {
        margin-bottom: 35px;
      }
    }

    .block-content-info {
      &__elem-paragraph-2 {
        display: none;
      }
      &__elem-next-container{
        
        margin-top: 5px;
        margin-bottom: 5px;
      }
      &--mod-model {
        margin: 0 16px;
        margin-bottom: 15px;
      }
    }

    
  }
  
  /* ---- TABLET ---- */
  @media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
    .block-header-menu {
      &__elem-log-box {
        margin-right: auto;
      }
      
      &__elem-nav-icon,
      &__elem-dash {
        margin-right: 16px;
      }
      
      &__elem-nav-icon:last-child {
        margin-right: 0;
      }
    }

    .block-headmain {
      &__elem-title {
        margin-left: 24px;
      }
      &--mod-model {
        margin-bottom: 32px;
      }
    }

    .block-slidemain {
      &--box-model {
        margin-left: 24px;
        margin-bottom: 32px;
      }
    }

    .block-content {
      display: flex;
      gap: 48px;
  
      &__elem-photo {
        width: 360px;
        height: 260px;
        flex-shrink: 0;
      }

      &--mod-model {
        margin: 0 24px;
        margin-bottom: 40px;
        
      }
    }

    .block-content-info {
      &__elem-paragraph-3 {
        display: none;
      }
      &__elem-next-container{
        margin-top: 10px;
      }
    }
  }
  
  /* ---- DESKTOP ---- */
  @media screen and (min-width: 1023.9px) {
    .block-header-menu {
      display: none;
    }

    .block-headmain {
      &__elem-title {
        margin-left: 30px;
        margin-right: auto;
      }
      &__elem-nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
  
        color: #1b1c21;
        text-align: right;
        font-family: "TT Lakes";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.2px;
      }
      &--mod-model {
        margin: 42px 16px 8px 0;
      }
    }

    .block-slidemain {
      &__elem-shade {
        display: none;
      }
  
      &--mod-model {
        margin-left: 32px;
        margin-bottom: 20px;
      }
    }

    .block-slidemain-row {
      flex-flow: row wrap;
      overflow: visible;
    }

    .block-content {
      display: flex;
      gap: 36px;
      
  
      &__elem-photo {
        width: 531.346px;
        height: 307px;
        flex-shrink: 0;
      }
  
      &--mod-model {
        margin: 0 28px 48px 32px;
      }
    }
    
    .block-content-info {
      &__elem-next-container{
        margin-top: 15px;
        
      }
    }
  }



/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  body {
    display: flex; 
  }
}
